html { 
  background: url("../photos/blackboard.jpg") no-repeat center center fixed; 
  background-size: cover;
}
body {
	margin: 0;
}

h1 {
	font-size: 2rem;
	color: black;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: white;
	text-align: center;
	margin: 0;
}
.wrapper {
	width: 640px;
	margin: 3rem auto 0;
}
